<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %></p>

  <ul>
    <% for(let item of items) { %>
      <li>
        <strong>
          <%= item.column1 %>
        </strong>: <%= item.column2 %>.
      </li>
      <% } %>
  </ul>
</body>

</html>